<div class="itg_who_uses_allpax_wrapper">
  <div class="page-width">
    <div class="itg_who_uses_allpax">
        {% for block in section.blocks %}
        <div class="itg_who_uses_allpax_inner">
          <div class="itg_uses_text">
            <h3>{{ block.settings.heading }}</h3>
            {{ block.settings.text }}
          </div>
          <div class="itg_uses_image">
            {% if block.settings.linking != blank %}<a href="{{ block.settings.linking }}">{% endif %}<img src="{{ block.settings.img | img_url: 'master' }}" alt="{{ block.settings.img.alt }}">{% if block.settings.linking != blank %}</a>{% endif %}
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Who Uses Allpax",
    "settings": [],
    "blocks": [
      {
        "name": "Block",
        "type":"block",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Content"
          },
          {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "linking",
            "label": "Linking"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}